<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 필수속성! - DAO 에서 식별하기 위함! -->
<mapper namespace="com.ycha.par.dao.ReviewDao">

	<!-- review 등록을 위해 payidx, p_idx, d_idx 가져오기  -->
	<select id="selectByRIdx" resultType="com.ycha.par.domain.ReviewInfo">
		select payidx, d_idx, p_idx from PAYMENT 
		join RDV using (r_idx) 
		join P_RESERVATION using(pr_idx) 
		join D_RESERVATION using(dr_idx) 
		where r_idx=#{r_idx};
	</select>

	<!-- 기존에 특정 payidx로 등록된 리뷰가 있는지 체크  -->
	<select id="selectByPayidx" resultType="com.ycha.par.domain.Review">
		select * from REVIEW where payidx = #{payidx};
	</select>
	
	<!-- 기존에 등록된 review 가 있다면 driver 부분만 찾아서 업데이트 처리  -->
	<update id="updateDriverReview" parameterType="com.ycha.par.domain.Review">
		update REVIEW 
		set d_idx=#{d_idx}, 
		dr_content=#{dr_content}, 
		dr_star=#{dr_star} 
		where payidx=#{payidx};
	</update>
	
	<!-- 기존에 등록된 review 가 있다면 passenger 부분만 찾아서 업데이트 처리  -->
	<update id="updatePassengerReview" parameterType="com.ycha.par.domain.Review">
		update REVIEW 
		set p_idx=#{p_idx},
		pr_content=#{pr_content}, 
		pr_star=#{pr_star} 
		where payidx=#{payidx};
	</update>
	
	
	<!-- 기존에 등록된 리뷰가 없다면 : review 내용 등록 -->
	<insert id="insertReview" parameterType="com.ycha.par.domain.Review">
		insert into REVIEW values (null, #{payidx}, #{p_idx}, #{d_idx}, #{pr_content}, #{pr_star}, #{dr_content}, #{dr_star});
	</insert>

	<!-- 탑승자 review list -->
	<select id="selectListByDrivers" resultType="com.ycha.par.domain.Review">
		select rv_idx,
		PASSENGER.nickname as p_nickname, pr_content, pr_star, 
		DRIVER.nickname as d_nickname, dr_content, dr_star 
		from REVIEW 
		join DRIVER using(d_idx) 
		join PASSENGER using(p_idx) 
		where p_idx=#{p_idx};
	</select>

	<!-- rv_idx 로 review 내역 조회 -->
	<select id="selectByRvIdx" resultType="com.ycha.par.domain.Review">
		select * from REVIEW where rv_idx=#{rv_idx};
	</select>
	
	<!-- passenger review만 삭제 -->
	<update id="deleteOnlyPassengerReview">
		update REVIEW set pr_content=null, pr_star=0 where rv_idx=#{rv_idx};
	</update>
	
	<!-- 전체 review 삭제 -->
	<delete id="deleteReview">
		delete from REVIEW where rv_idx=#{rv_idx};
	</delete>
</mapper>