<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace: 필수속성! - DAO 에서 식별하기 위함! -->
<mapper namespace="com.ycha.par.dao.ReviewDao">

	<!-- payidx 조회  -->
	<select id="selectByRIdx" resultType="com.ycha.par.domain.ReviewInfo">
		select payidx, d_idx, p_idx from PAYMENT 
		join RDV using (r_idx) 
		join P_RESERVATION using(pr_idx) 
		join D_RESERVATION using(dr_idx) 
		where r_idx=#{r_idx};
	</select>
	
	<!-- review 내역 등록 -->
	<insert id="insertReview" parameterType="com.ycha.par.domain.Review">
		insert into REVIEW (payidx, p_idx, d_idx, pr_content, pr_star) values (#{payidx}, #{p_idx}, #{d_idx}, #{pr_content}, #{pr_star});
	</insert>
	
</mapper>